* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: linear-gradient(90deg, #00b65f, #008b49);
    color: white;
    text-align: center;
    padding: 1rem 0 2rem;
}

header h1 {
    font-size: 2rem;
}

header p {
    margin-top: 0.5rem;
    font-size: 0.95rem;
    font-weight: 300;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 30px;
    background-color: #00bf63;
    width: 100vw;
}

nav ul li {
    margin: 0.5rem;
}

nav ul li a {
    color: #FFFFFF;
	font-weight: 300;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid #00914b;
    padding: 5px;
}

nav ul li a:hover {
    background: white;
    color: #008b49;
    text-decoration: underline;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 1.5rem;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.card h2 {
    background: #00b65f;
    color: white;
    padding: 0.75rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.img-container {
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.info {
    padding: 1rem;
}

.info p {
    margin-bottom: 0.8rem;
    line-height: 1.5;
}

.info .nota {
    color: #008b49;
    font-weight: 500;
}

.info .nota i {
    margin-right: 6px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

/* Pantallas de 900px */
@media (max-width: 900px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }
}

/* Pantallas de 600px */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
    }

    nav ul {
        flex-direction: column;
    }

    .card img {
        height: 180px;
    }
}

/* Pantallas de 480px */
@media (max-width: 480px) {
    body {
        font-size: 0.9rem;
    }

    .card {
        width: 90%;
    }

    .info .nota {
        font-size: 0.9rem;
    }
}
